
<h5>Poderes Cadastrados </h5>
<div class="card-body">

<%= form_tag("/poderes", method: "get") do %>
<div class="row">
      <div class="col-md-3">
<%= select_tag(:campo2, options_for_select([['Tipo de Poder', 'tipo'],
                                           ['Nome do Poder', 'nome'],
                                           ], params[:campo2]),
                                          class: 'custom-select') %>
      </div>


<%= text_field_tag(:valor1, params[:valor1])%>
<%= submit_tag("Filtrar", class: 'btn btn-info', :style => "margin-left: 10px" ) %>
<div class="col-md-4">

      <%= link_to 'Criar Poder', new_poder_path, class: 'btn btn-warning' %>

   </div>
</div>

</div>

<% end %>
<table class="table table-hover" style="text-align:center; margin-top: 10px">
      <thead class="thead-dark">
   <tr > 
     <th>ID</th>
     <th>Nome</th>
     <th>Tipo</th>
     <th>Personagem</th>
     <th>Ações</th>
     
   </tr>
</thead>
  <% @poderes.each do |poder| %>
   <tr>
      <td> <%= poder.id %></td>
      <td> <%= poder.nome %> </td>
      <td> <%= poder.tipo %> </td>  
      <td> <%= poder.personagem.nome %></td>
      <td>
      
      <%= link_to 'Ver', poder.personagem, class: 'btn btn-success'%>
      <%= link_to 'Editar' , edit_poder_path(poder), class:"btn btn-warning"%>
      <%= link_to "Remover", poder, method: :delete, class: "btn btn-danger", data: { confirm: "Deseja remover permanentemente \"#{poder.nome}\"?"} %>


      </td>
      <tr>
   <% end %>

</table>


