<div class="col-md-3">
  <h5> Novo Poder </h5>
  <%= @poder.errors.first %>
  <%= form_for @poder do |f| %>

  <div class="form-group">
    <b> Personagem:</b><br>
    <%= f.collection_select(:personagem_id, Personagem.all, :id, :nome, {},  {:class => 'custom-select'}) %>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nome</div>
    </div>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <b> Tipo:</b><br>
    <%= f.text_field :tipo, class: 'form-control' %>
  </div>

  <%= f.submit("Salvar", :class => "btn btn-dark")  %>
</div>
<% end %>
